<% include layout %>
<div class="row">
  <div class="page-header">
    <h1>Mis categorías</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Lista de tus categorías</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>IdCategoria</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: categorias">
        <tr>
          <td data-bind="text: idCategoria"></td>
          <td data-bind="text: nombre"></td>
          <td>
            <div class="form-group">
              <button class="btn btn-warning" data-bind="click: $root.categoriaCargada">Editar</button>
              <button class="btn btn-danger" data-bind="click: $root.eliminar">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>


<div class="panel panel-success">
        <div class="panel-title">
          <h4>Nueva Categoría</h4>
        </div>
        <div class="panel-body">
          <form data-bind="submit: agregar">
            <div class="form-group">
              <label for="inputName">Nombre</label> 
              <input class="form-control" id="inputName" type="text"
              data-bind="value: categoriaNueva.nombre"/>             
            </div>
              <button type="submit" class="btn btn-success">Agregar</button>
            </div>
          </form>
        </div>
</div>

<div class="panel panel-default">
        <div class="panel-title">
          <h4>Editar Categoría</h4>
        </div>
        <div class="panel-body">
          <form data-bind="submit: editar">
            <div class="form-group">
              <label for="inputName">Nombre</label> 
              <input class="form-control" id="inputName" type="text"
              data-bind="value: categoriaCargada().nombre"/>             
            </div>
              <button type="submit" class="btn btn-success">Agregar</button>
            </div>
          </form>
        </div>
</div>

<div>

</div>
<% include footer %>
<script type="text/javascript" src="javascripts/categoriaCliente.js"></script>