<% include layout %>
<div class="row">
    <H3>Citas</H3>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Lista de citas</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Contacto</th>
          <th>Fecha</th>
          <th>Lugar</th>
          <th>Descripcion</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: citas">
        <tr>
          <td data-bind="text: nombre"></td>
          <td data-bind="text: fecha"></td>
          <td data-bind="text: lugar"></td>          
          <td data-bind="text: descripcion"></td>
          <td>
            <div class="form-group">
              <button class="btn btn-warning" data-bind="click: $root.cargar">Editar</button>
              <button class="btn btn-danger" data-bind="click: $root.eliminar">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-danger">Agregar</button>
  </div>
</div>

<div class="panel panel-success">
    <div class="panel-header"><h4>Nueva Cita</h4></div>
    <div class="panel panel-body">
        <form data-bind="submit: agregar">
            <div class="form-group">
                <label for="inputContacto">Contacto</label>
                <select class="form-control" data-bind="options: contactos, 
                    optionsText: 'nombre',
                    optionsValues: 'idContacto',
                    value: citaNueva.idContacto"></select>
            </div>
            <div class="form-group">
                <label for="inputfecha">Fecha</label>
                <input class="form-control" type="datetime-local" data-bind="value: citaNueva.fecha"/>
            </div>
            <div class="form-group">
                <label for="inputLugar">Lugar</label>
                <input class="form-control" data-bind="value: citaNueva.lugar"/>
            </div>
            <div class="form-group">
                <label for="inputDescripcion">Descripcion</label>
                <input class="form-control" data-bind="value: citaNueva.descripcion"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-header"><h4>Cita a Editar</h4></div>
    <div class="panel panel-body">
        <form data-bind="submit: editar">
            <div class="form-group">
                <label for="inputContacto">Contacto</label>
                <select id="inputContacto" class="form-control" data-bind="options: contactos, 
                    optionsText: 'nombre',
                    optionsValues: 'idContacto',
                    value: citaCargada().idContacto"></select>
            </div>
            <div class="form-group">
                <label for="inputFecha">Fecha</label>
                <input id="inputFecha" class="form-control" type="datetime-local" 
                data-bind="value: citaCargada().fecha"/>
            </div>
            <div class="form-group">
                <label for="inputLugar">Lugar</label>
                <input id="inputLugar" class="form-control" data-bind="value: citaCargada().lugar"/>
            </div>
            <div class="form-group">
                <label for="inputDescripcion">Descripcion</label>
                <input id="inputDescripcion" class="form-control" data-bind="value: citaCargada().descripcion"/>
            </div>
            <div class="form-group">
                <button type="editar" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>


<% include footer %>
<script type="text/javascript" src="javascripts/citaCliente.js"></script>