<div class="row">
    <div class="col-md-12" >
        <div class="panel panel-success">
            <div class="panel-body">
                <img width="50px" height="50px" data-bind="attr:{src: usuarioCargado().foto}"/>
                <form data-bind="submit: guardar">
                    <div class="form-group">
                        <label for="nick">Nick</label>
                        <input id='nick' class="form-control" data-bind="value: usuarioCargado().nick"/>
                    </div>
                    <div class="form-group">
                        <label for="contrasena">Contraseña</label>
                        <input id="contrasena"  class="form-control" data-bind="value: usuarioCargado().contrasena"/>
                    </div>
                    <div class="form-group">
                        <button type="submit">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include footer%>
<script type="text/javascript" src="javascripts/cuentaCliente.js"></script>