<% include layout %>
<div class="row">
  <div class="page-header">
    <h1>Contacto</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Lista de contactos</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>IdContacto</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Direccion</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: contactos">
        <tr>
          <td data-bind="text: idContacto"></td>
          <td data-bind="text: nombre"></td>
          <td data-bind="text: apellido"></td>
          <td data-bind="text: direccion"></td>          
          <td data-bind="text: correo"></td>
          <td data-bind="text: telefono"></td>
          <td>
            <div class="form-group">
              <button class="btn btn-warning" data-bind="click: $root.cargar">Editar</button>
              <button class="btn btn-danger" data-bind="click: $root.eliminar">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Historial</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>IdHistorial</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: historials">
        <tr>
          <td data-bind="text: idHistorial"></td>
          <td data-bind="text: mensaje"></td>          
        </tr>
      </tbody>
    </table>    
  </div>
</div>



<div class="panel panel-success">
        <div class="panel-title">
          <h4>Nuevo Contacto</h4>
        </div>
        <div class="panel-body">
          <form data-bind="submit: agregar">
            <div class="form-group">
              <label for="inputName">Nombre</label> 
              <input class="form-control" id="inputName" type="text"
              data-bind="value: contactoNuevo.nombre"/>             
            </div>
            <div class="form-group">
              <label for="inputApellido">Apellido</label>
              <input class="form-control" id="inputApellido" type="text" 
              data-bind="value: contactoNuevo.apellido"/>
            </div>
            <div class="form-group">
              <label for="inputDireccion">Dirección</label>
              <input class="form-control" id="inputDireccion" type="text" 
              data-bind="value: contactoNuevo.direccion"/>
            </div>            
            <div class="form-group">
              <label for="inputTelefono">Teléfono</label>
              <input class="form-control" id="inputTelefono" type="text" 
              data-bind="value: contactoNuevo.telefono"/>
            </div>
            <div class="form-group">
              <label for="inputCorreo">Correo</label>
              <input class="form-control" id="inputCorreo" type="text" 
              data-bind="value: contactoNuevo.correo"/>
            </div>
            <div class="form-group">
              <label for="categorias">
              <select id="categorias" class="form-control" data-bind="options: categorias,
                             optionsText: 'nombreCategoria',
                             optionsValue: 'idCategoria',
                             value: contactoNuevo.idCategoria"></select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Agregar</button>
            </div>
          </form>
        </div>
</div>

<div class="panel panel-success">
        <div class="panel-title">
          <h4>Editar</h4>
        </div>
        <div class="panel-body">
          <form data-bind="submit: editar">
            <div class="form-group">
              <label for="inputName">Nombre</label> 
              <input class="form-control" id="inputName" type="text"
              data-bind="value: contactoCargado().nombre"/>             
            </div>
            <div class="form-group">
              <label for="inputApellido">Apellido</label>
              <input class="form-control" id="inputApellido" type="text" 
              data-bind="value: contactoCargado().apellido"/>
            </div>
            <div class="form-group">
              <label for="inputDireccion">Dirección</label>
              <input class="form-control" id="inputDireccion" type="text" 
              data-bind="value: contactoCargado().direccion"/>
            </div>            
            <div class="form-group">
              <label for="inputTelefono">Teléfono</label>
              <input class="form-control" id="inputTelefono" type="text" 
              data-bind="value: contactoCargado().telefono"/>
            </div>
            <div class="form-group">
              <label for="inputCorreo">Correo</label>
              <input class="form-control" id="inputCorreo" type="text" 
              data-bind="value: contactoCargado().correo"/>
            </div>
            <div class="form-group">
              <label for="categorias">
              <select id="categorias" class="form-control" data-bind="options: categorias,
                             optionsText: 'nombreCategoria',
                             optionsValue: 'idCategoria',
                             value: contactoCargado().idCategoria"></select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Editar</button>
            </div>
          </form>
        </div>
</div>


<% include footer %>
<script src="javascripts/contactoCliente.js" type="text/javascript"></script>        