<div class="row">
    <h3>Tareas</h3>
</div>
<% include layout %>

<div class="row">
  <div class="col-md-12">
    <h2>Lista de citas</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Fecha</th>
          <th>Prioridad</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: tareas">
        <tr>
          <td data-bind="text: idTarea"></td>
          <td data-bind="text: nombre"></td>
          <td data-bind="text: descripcion"></td>          
          <td data-bind="text: fecha"></td>
          <td data-bind="text: prioridad"></td>
          <td>
            <div class="form-group">
              <button class="btn btn-warning" data-bind="click: $root.cargar">Editar</button>
              <button class="btn btn-danger" data-bind="click: $root.eliminar">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-success">
    <div class="panel-header"><h4>Nueva Tarea</h4></div>
    <div class="panel panel-body">
        <form data-bind="submit: agregar">
            <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input id="inputNombre" class="form-control" data-bind="value: tareaNueva.nombre"/>
            </div>
            <div class="form-group">
                <label for="inputfecha">Fecha</label>
                <input class="form-control" type="datetime-local" data-bind="value: tareaNueva.fecha"/>
            </div>
            <div class="form-group">
                <label for="inputDescripcion">Descripcion</label>
                <input class="form-control" data-bind="value: tareaNueva.descripcion"/>
            </div>            
            <div class="form-group">
                <label for="inputPrioridad">Prioridad</label>
                <select id="inputPrioridad" class="form-control" data-bind="options: prioridades, 
                    optionsText: 'descripcion',
                    optionsValues: 'idPrioridad',
                    value: tareaNueva.idPrioridad"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-header"><h4>Editar tarea</h4></div>
    <div class="panel panel-body">
        <form data-bind="submit: editar">
            <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input id="inputNombre" class="form-control" 
                    data-bind="value: tareaCargada().nombre"/>
            </div>
            <div class="form-group">
                <label for="inputfecha">Fecha</label>
                <input class="form-control" type="datetime-local" 
                    data-bind="value: tareaCargada().fecha"/>
            </div>
            <div class="form-group">
                <label for="inputDescripcion">Descripcion</label>
                <input class="form-control" data-bind="value: tareaCargada().descripcion"/>
            </div>            
            <div class="form-group">
                <label for="inputPrioridad">Prioridad</label>
                <select id="inputPrioridad" class="form-control" data-bind="options: prioridades, 
                    optionsText: 'descripcion',
                    optionsValues: 'idPrioridad',
                    value: tareaCargada().idPrioridad"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>    
    </div>
</div>

<% include footer %>
<script type="text/javascripts/tareaCliente.js"></script>